@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <p>Bacon ipsum dolor amet tenderloin short loin rump sirloin, venison short ribs shankle pastrami corned beef pork chop ground round shoulder. Beef ribs shankle ball tip shank salami jowl alcatra short ribs ground round. Corned beef pig tail, tri-tip drumstick tongue spare ribs turkey. Rump jerky corned beef, shoulder pork boudin sausage spare ribs. Ball tip pig swine, leberkas jerky porchetta ham hock. Kielbasa cow sirloin tail rump brisket buffalo boudin kevin ground round. Beef pancetta tail pork loin, chicken tenderloin salami burgdoggen.</p>
    <p>Strip steak hamburger tongue, venison drumstick chislic brisket filet mignon meatloaf tri-tip beef ribs. Filet mignon short loin beef, bresaola burgdoggen frankfurter jowl spare ribs pastrami cupim shankle beef ribs pig leberkas. Pork belly shoulder turkey ball tip buffalo meatball drumstick andouille short ribs landjaeger swine pork loin leberkas ground round kevin. Spare ribs ham hock chuck, short loin shoulder pancetta pig tail pork belly sirloin picanha. Cupim bacon leberkas swine short ribs shankle. Ribeye picanha capicola ground round, ham biltong frankfurter hamburger. Shankle picanha ball tip, pastrami rump short ribs cupim ham hock jerky kielbasa salami swine tail frankfurter turducken.</p>
    <p>Ham flank filet mignon frankfurter alcatra tail. Alcatra landjaeger tri-tip venison short loin, ribeye pig pork rump doner ground round frankfurter. Pig chuck spare ribs swine. Pancetta beef short loin meatball, shoulder chicken chislic prosciutto rump kevin frankfurter tail strip steak bresaola alcatra. Boudin swine turkey pork loin ball tip short loin t-bone pig pork chop andouille. Corned beef drumstick turkey flank. Turducken ham hock pork chop, jerky filet mignon pork belly cow bacon capicola tail.</p>
    <p>Shankle tail chicken brisket filet mignon. Shank boudin ham hock, alcatra kevin bresaola pancetta bacon meatloaf pork pork belly turkey chislic swine. Filet mignon pig fatback, alcatra short ribs doner ham hock turducken pork swine rump hamburger jowl leberkas tenderloin. Chislic filet mignon tail kevin porchetta, prosciutto cow salami ball tip short loin venison meatloaf shoulder. Pancetta boudin burgdoggen shankle landjaeger tail hamburger pork loin rump alcatra turducken biltong. Porchetta ball tip pancetta, salami chicken kielbasa turkey capicola swine pork loin.</p>
    
</div>
